//sprite images variable
$common-path:'../images';
$sprite:$common-path + '/sprite.png';
$caldon-sprite:$common-path + '/caldon_sprite.png';



.wrap-text{
	text-align: center;
    height: 180px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.sub-text{
	font-weight:$book;
	font-size: 14px;
  	line-height: 1.6;
  	color: rgba(255, 255, 255, 0.9);

}

.menu-div{
	position:absolute;
	bottom:0;
  	background-color:rgba(0, 0, 0, 0.3);
  	width: 100%;
  	height: 70px;
  	.menu-main-list,.container{
  		height: inherit;
  	}
}
.menu-main-list:before, .menu-list {
    display:inline-block;
    vertical-align:middle;
}
.menu-list{
	width: 99%;
}
.menu-main-list:before {
    content:""; // so that it shows up
    height:100%; // so it takes up the full height
}
.menu-ul{
	width: 100%;
	margin-bottom:0;
	> li{
		display: inline-block;
		padding-right: 10px;
   		padding-left: 10px;
		a,.category-item,input{
			@extend .bg-default-text;
			&:active,&:focus{
				text-decoration: none;
			}
		}
	}
}
.menu-ul li .dropdown-menu{
	min-height:100px;
	height:300px;
	overflow-y:scroll;
	overflow-x: hidden;
    top: 53px;
    width: 320px;
    left: -24px;
    padding:0;
}
.menu-ul li .select_box{
	margin-bottom: -3px;
    width:322px;
    border-right: 2px solid #979797;
    border-left: 2px solid #979797;
    padding: 0 22px;
}

.select_box .category-item {
	background:transparent;
	border-bottom:0;
	width:100%;
	padding: 1px 14px;
	.category-name{
		width: 90%;
		display: inline-block;
		vertical-align: middle;
		text-align: left;
	}
	.caret{
			text-align: right;
		display: inline-block;
		vertical-align: middle;
	}
}


.menu-ul li{
	&.home-item a{
		&:before{
			background: url($sprite) no-repeat;
			background-position: -154px -22px;
		    width: 20px;
		    height: 20px;
			content: "";
			display: inline-block;
			vertical-align: -25%;
		}	
	}
	&.popular-item{
		margin: 0 30px;
	}
	.search-wrap{
		position:relative;
		width: 150px;
		input{
			background: transparent;
			border:0;
			height: 24px;
		}
		.search-icon{
			position:absolute;
			top: 0px;
    		left: -30px;
			&:before{
				background: url($sprite) no-repeat;
				background-position: -198px -22px;
			    width: 20px;
			    height: 20px;
				content: "";
				display: inline-block;
				vertical-align: -25%;
			}
		}
	}
}
.menu-ul li:not(:first-child){
	&:after{
		content: '';
		display: block;
		margin: auto;
		height: 4px;
		width: 0px;
		position: relative;
    	top: 21px;
		background: transparent;
		transition: width .5s ease, background-color .5s ease;
	}
}
.menu-ul li.popular-item,.menu-ul li.latest-item{
	&:hover{
			&:after{
				width: 100%;
				background: #00A4D9;
			}
		}
	}

.active-item{
	&:after{
				width: 100% !important;
				background: #00A4D9 !important;
			}
}

.more-link{
	margin: 30px 0;
    display: inline-block;
}
.card-main{
	position: relative;
    overflow: hidden;
    height: 350px;
    padding: 28px 0;
}


.card-list{
	li.card{		
	    height: 315px; 
	    display: inline-block;
	    position:relative;
	    vertical-align: top;
	    .card_wrapper{
	    	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	    	background-color: #ffffff;
	    	border-radius: 2px;
	    	width: 360px;
	    	 height: 308px;
	    	 margin: 0 10px;
	    	 display: block;  
	    	 -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  			transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); 
  			position:relative;
			cursor: pointer;
			&:after{
				content: "";
				  border-radius: 5px;
				  position: absolute;
				  z-index: -1;
				  top: 0;
				  left: 0;
				  width: 100%;
				  height: 100%;
				  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
				  opacity: 0;
				  -webkit-transition: all 0.6s;
				  transition: all 0.6s;
			}		
			&:hover{
				-webkit-transform: scale(1.002, 1.002);
  				transform: scale(1.002, 1.002);
  				transform: translateZ(0);
  				&:after{
  					 opacity: 1;
  				}
			}
		}
	}
}


.card_img{
    width:360px;
    height:220px;
    position: relative;
    img{
    	width:360px;
    	height:220px;
    	border-radius: 2px 2px 0 0;
    }
}

.card .card-caption{
	 padding:20px 20px;
	p{
	    margin:0;
	}
}
.views{
    height: 19px;
    font-weight:$book;
    font-size: 14px;
    line-height: 1.1;
    color: #ffffff;
    position: absolute;
    left:20px;
    bottom:20px;
}
.like{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 16px;
    height: 14px;
    background-image: url($sprite);
    background-position: -241px -25px;
}
.card_arrows {
    width: 22px;
    height: 36px;
    background: url($sprite);
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
.prev_arrow {
    left: -26px;
    background-position: -177px -76px;
    transform: rotate(180deg);
}
.next_arrow {
    right:-26px;
    background-position: -177px -76px;

}

