$free_resources_detail_icons:$common-path+'/free_resources_detail_icons.png';
$free-resources_sprite_imgae:$common-path+'/free-resources_sprite_imgae.png';

.wrapper_ins {
	position:relative;
	top:0px;
}
.resources_header {
	border-bottom:1px solid #ccc;
	display:none
}
.banner-breadcrumb {
	display:block;
	background:#f5f5f5;
	color:#222;
	.breadcrumb-style,a{
		color:#777;
		font-size:12px	
	}
}
.article_heading{
	line-height:36px;
}
.mobile_selected_tab{
	display:block;
	background: #f5f5f5;
    width: 100%;
    color: #333;
    text-transform: uppercase;
    padding: 15px;
    font-size:14px;
    &:hover,&:focus,&:active{
    	color:#333;
    }
}
.article-date{
	display: block;
	margin-bottom: 6px;
}
.icon_commomn_class.author_list,.icon_commomn_class.views,.icon_commomn_class.comments{
	&:before{
		background-image:url($free_resources_detail_icons)
	}
}

.icon_commomn_class.author_list:before {
	background-position:-19px -17px;
	width:14px;
	height:24px;
	margin-right:7px
}
.icon_commomn_class:before {
	background:url(../images/resources_sprite_imgae.png) no-repeat;
	width:12px;
	height:20px;
	display:inline-block;
	content:"";
	margin-right:2px;
	vertical-align:middle
}
.icon_commomn_class.views:before {
	background-position:-35px -18px;
	width:26px
}
.icon_commomn_class.comments:before {
	background-position:-60px -17px;
	width:26px
}
.icon_commomn_class.comments {
	cursor:pointer
}
.resources_article_section.article_section {
	.sub_dream_text {
			padding:0;
			margin-bottom: 10px;
		div{
			width:auto;
			border-left: 1px solid #e7e7e7;
			&:first-child{
				border-left: 0;
				padding-left:0;
			}
			span.num{
				color: #5fd080;
			}	
		}	
	}	
}
.quote-img{
 	content: "";
  width: 11px;
  height: 14px;
  display: inline-block;
}
.resources_detials{
	font-size: 16px;
  color: #222;
  h2{
  	@extend .h2-inner;
  	margin-bottom: 0;
  }
  p.article_quoted{
		color: $primary-color;
    padding: 0 25px;
    border-left: 2px solid $primary-color;
    margin-left: 20px;
    font-weight: $book;
    text-indent: -19px;
    &:before{
    	background: url($header-sprite) -60px -39px no-repeat;
	    @extend .quote-img;
    }
    &:after{
    	background: url($header-sprite) -69px -39px no-repeat;
    	@extend .quote-img;
    }
	}
}
.resources_article-container .article_img {
	width:100%;
	padding-bottom:15px;
	min-height:315px
}
.social-share-fixed {
	margin-bottom:10px;
	overflow:hidden
}

.social-share-fixed{
	.total-shares{
		text-align:center;
		display:inline-block;
		font-size:12px;
		text-transform:uppercase;
		float:left;
		line-height:22px;
		strong{
			display:block;
			font-size:20px
		}	
	}
}

.social-share-fixed{ 
	.social-icons a {
		width:40px;
		height:40px;
		display:inline-block;
		margin-bottom:10px;
		text-align:center;
		float:left;
		margin-right:5px;
		&:before{
			content:"";
			background:url($home-page-sprite) no-repeat;
			display:inline-block;
			vertical-align:middle;
			margin-top:8px;
			width:20px;
			height:20px;
		}
	}
}
.social-share-fixed .social-icons{
	a.fb {
		background:#4C67A1;
		&:before{
			background-position:-303px -81px;
		}
	}
}
.social-share-fixed .social-icons{
	a.twit {
		background:#55ACEE;
		&:before{
			background-position:-384px -80px;
		}
	}
}
.social-share-fixed .social-icons {
	a.linkedin {
		background:#1B86BD;
		&:before{
			background-position:-344px -80px
		}
	}
}
.social-share-fixed .social-icons{
	a.gle {
		background:#DD4B39;
		width:40px;
		height:40px;
		&:before{
			background-position:-303px -114px;
		}
	}
}
.social-share-btns {
	display:block;
	margin:0 auto;
	width:331px;
	overflow:hidden
}

.social-share-btns .social-icons a {
	width:40px;
	color:#fff;
	font-size:12px;
	height:40px
}
.social-share-btns .social-icons{
	a.fb,	a.linkedin, a.twit{
		&:after{
			margin:7px 0 0 3px;
			float:right
		}
	}
}

.social-share-btns .social-icons a.linkedin:after {
	margin-top:9px
}
.tags_outer{
	padding-left:18px;
	padding-top:15px;
	display: inline-block;
  margin-bottom: 15px;
  width: auto;
  a{
  	color: #40b7d9;
  }
}
.tags_div{
	display: inline-block;
  margin-left: 15px;
  li{
  	display: inline-block;
    padding-right: 15px;
  }
}
.review-content {
background:#fff;
padding:5px 10px 10px;
border-radius:4px;
overflow:hidden;
/*border:1px solid #e7e7e7;*/
box-shadow:2px 3px #e7e7e7
}

.article_section .review-content {
margin-top:15px;
min-height:100px;
clear:both
}

.article_section .review-content h5 {
color:$primary-color;
}

.article_section .review-content .linked,.article_section .review-content .twitter {
content:"";
background:url($free-resources_sprite_imgae) 83px -165px;
width:35px;
height:35px;
left:2px;
display:inline-block
}

// .resources_article-container .profile {
// float:left
// }
.review-section .profile {
	margin-top:10px;
	background:#fff;
}
.review-section .profile img {
	width:80px;
	height:80px;
	border-radius:50%;
	padding-top: 10px;
}
.resources_article-container p {
	color:#777;
	font-size:16px;
	line-height:27px;
	font-weight:300
}
// .resources_sidebar.stay_updated_div {
// 	border-left:1px solid #e7e7e7;
// }
.resources_sidebar div:last-child {
border-bottom:0;
padding-top:0;
margin:0
}
.nxt-article {
background-color:#222;
overflow:hidden;
height:55px;
width:300px;
margin:5px 1px;
bottom:99999px;
position:absolute;
right:0;
transition:height .5s;
-webkit-transition:height .5s
}

.nxt-article:hover {
height:170px;
cursor:pointer
}

.nxt-article h5 {
color:#fff;
padding:6px 20px 0
}

.nxt-article h5:after {
content:"";
background:url(../images/header_sprite_v10.png) -52px -470px no-repeat;
width:18px;
height:18px;
display:inline-block;
transform:rotate(270deg)
}

.nxt-article p {
color:#fff;
opacity:0;
padding:5px 14px;
position:relative;
position:absolute;
top:10%;
bottom:10%;
max-height:80px;
overflow:hidden
}

.nxt-article:hover h5 {
opacity:0
}

.nxt-article:hover h5.txt,.nxt-article:hover p {
opacity:1
}

.nxt-article h5.txt {
opacity:0;
position:relative;
bottom:-67px;
background:#3D3D3D;
padding:15px 20px 22px;
margin:0
}
@media only screen and (min-width:768px) and (max-width: 1023px){


}
@media only screen and (min-width:320px) and (max-width: 767px){
	.resources_article_section.article_section {
		.sub_dream_text {
			div{
				width:100%;
				border-left:0;
				padding-left:0;
				padding-bottom:5px;
			}	
		}	
	}
}
