.topbar_company {
	background:$background-light;
	padding: 6px 0;
}
.topbar_company span, .topbar_company a{
	font-size:$font-size-13;
	color:$grey-light;
	font-weight:$light;
}
.topbar_company .simpli_txt, .topbar_company a{
    padding-left: 20px;
}
.mid_logo {
    position: absolute;
    width: 146px;
    height: 39px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.logo {
    float: left;
    display: inline-block;
    width: 146px;
    height: 39px;
	margin: 14px 0;
}
.new_menu_wrap, .new_menu_wrap > ul > li > a {
    z-index: 1;
    position: relative;
    color: $header-link;
    font-size:$font-size-base;
    float: left;
    line-height: 19px;
	padding-top: 10px;
}
.new_menu_wrap ul li a {
	color: $header-link;
	text-decoration:none;
}
.main_navbar_ul {
    margin-top: 7px;
}
.new_menu_wrap > ul > li {
    padding-bottom: 10px;
}
.new_menu_wrap ul li.menu_login {
    margin-right: 0px;
}
.new_menu_wrap ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.new_menu_wrap .main_menu_course:before, .new_menu_wrap .main_menu_course_active:before, .header_global .main_menu_course:before{
	background-position: -462px -103px;
    width: 22px;
    height: 22px;
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 12px;
}
.new_menu_wrap .main_menu_course_active:before, .header_global .main_menu_course:before {
    background-position: -462px -129px;
}

.dropdown_nav {
    height: 518px;
    position: absolute;
    top: 60px;
    cursor: default;
}
.dropdown_inner {
    display: block;
    margin-top: 0px;
}
.dropdown_inner:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-bottom: 15px solid $btn-success-dark;
    border-right: 10px solid transparent;
    content: "";
    display: inline-block;
    position: absolute;
    top: -15px;
    left: 5px;
}
.dropdown_shadow {
    width: 982px;
    display: inline-block;
    height: 498px;
    box-shadow: 2px 2px 4px #a3a3a2;
    position: relative;
    z-index: 99999;
}
.dropdown_shadow_less {
    width: 740px;
}
.resources_menu .dropdown_shadow {
    width: 702px;
}
.dropdown_nav_left {
    float: left;
}
.new_menu_wrap .first-level_nav {
    background: $btn-success-dark;
    position: absolute;
    width: 110px;
    height: 100%;
}
.new_menu_wrap .first-level_nav li {
    display: block;
    margin-bottom: 32px;
    text-align: center;
    margin-right: 0;
    color:$header-link;
}
.new_menu_wrap .first-level_nav li:first-child {
    margin-top: 18px;
}
li.nav_business:before, li.nav_technology:before, li.nav_vendor:before, li.mobi_resources:before {
    width: 28px;
    height: 25px;
    content: "";
    display: block;
    margin: 0 auto;
}
li.nav_business:before, li.mobi_resources:before {
    background-position: -503px -204px;
}
li.nav_technology:before {
    background-position: -538px -204px;
}
li.nav_vendor:before {
    background-position: -568px -204px;
}
.new_menu_wrap .second-level_nav {
    position: absolute;
    left: 110px;
    top: 0px;
    background:$brand-success;
    width: 300px;
    text-align: left;
    cursor: default;
}
.new_menu_wrap .first-level_nav li.current_tab:after, .new_menu_wrap .second-level_nav li.current_tab:after, .resources_dropdown .first-level_nav li.current_tab:after {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid $brand-success;
    content: "";
    display: inline-block;
    float: right;
    margin-top: -48px;
}
.new_menu_wrap .second-level_nav li {
    text-align: left;
    margin-left: 18px;
    margin-bottom: 13px;
}
.new_menu_wrap .second-level_nav li:first-child {
    margin-top: 21px;
    cursor: default;
}
.new_menu_wrap .second-level_nav a {
    font-size: $font-size-13;
    display: inline-block;
    width: 100%;
}
.active_course {
    Color: $gray-dark !important;
    font-weight:$medium;
}
.new_menu_wrap .second-level_nav li span {
    display: inline-block;
    margin-right: 10px;
}
.sub_cat_name {
    width: 77%;
}
.second-level_nav, .third-level_nav, .latest_course_sections {
    height: 498px;
}
.third-level_nav {
    position: absolute;
    left: 299px;
    width: 331px;
    color: $gray-dark;
    top: 0px;
    background: #fff;
    cursor: default;
}
.new_menu_wrap .third-level_nav li:first-child {
    color: $gray;
}
.new_menu_wrap .second-level_nav li .third-level_nav li a {
	@include text-overflow();
    color:  $gray-dark;
    width: 95%;
    line-height: 15px;
    font-weight: 300;
    height: 15px;
}
.new_menu_wrap .second-level_nav li .third-level_nav li a.btn {
    text-overflow: initial;
	height: auto;
}
.resources_btn .btn, .main_menu_course .third-level_nav li.resources_btn .btn {
    width: 174px;
    color:$header-link;
}
.new_menu_wrap .second-level_nav li.current_tab:after, .new_menu_wrap .resources_dropdown .first-level_nav li.current_tab:after {
    border-right: 10px solid #fff;
    margin-top: -20px;
}
 .first-level_nav .second-level_nav li .third-level_nav li a:hover {
    color: #1cb0df;
}
.divider_nav {
    border-bottom: 2px solid #EFEFEF;
    padding-bottom: 5px;
}
.resources_dropdown .first-level_nav > li:before {
    width: 25px;
    height: 23px;
    display: block;
    content: "";
    margin: auto;
}
.nav_article:before {
    background-position: -9px -210px;
}
.nav_webinar:before {
    background-position: -36px -210px;
}
.nav_test:before {
    background-position: -70px -210px;
}
.nav_videos:before {
    background-position: -98px -210px;
}
.nav_ebooks:before {
    background-position: -161px -210px;
}
.nav_community:before {
    background-position: -130px -210px;
}
.resources_dropdown .third-level_nav {
    left: 110px;
    top: 0px;
    width: 591px;
}
.resources_dropdown .third-level_nav li {
    display: inline-block;
    width: 264px;
    text-align: left;
    margin-bottom: 5px;
    background: #f3f3f3;
    height: 105px;
    float: left;
    margin-left: 20px;
}
.resources_dropdown .third-level_nav li:first-child {
    display: block;
    width: 93%;
    margin-left: 26px;
    background: none;
    height: auto;
    color:$gray-dark;
    margin-bottom: 22px;
    cursor: default;
}
.resources_dropdown .third-level_nav li a {
    font-size: 13px;
    font-weight: 400;
    Color: $gray-dark !important;
    display: inline-block;
    width: 264px;
}
.resources_dropdown .third-level_nav li.resources_btn {
    width: auto;
    height: auto;
    background: none;
    margin-top: 20px;
}
.thumb_resource_nav {
    width: 100%;
    max-width: 89px;
    height: 90px;
    display: inline-block;
    margin: 5px;
}
.thumb_resource_txt {
    width: 160px;
    display: inline-block;
    vertical-align: middle;
}
.resources_dropdown .third-level_nav li a.btn {
    color: $header-link !important;
}
.take_advantage {
    padding-top: 30px;
}
.simpli_community .aap_icon {
    display: block;
    margin: 35px auto 41px auto;
}
.practice_icon {
    background-position: -306px -198px;
    width: 78px;
    height: 88px;
}
.resources_dropdown .simpli_community li.divider_nav {
    text-align: left;
    padding: 0;
}
.community_icon {
    background-position: -497px -67px;
    width: 108px;
    height: 108px;
}
.header_section {
    box-shadow: inset 0 -8px 8px -8px #a3a3a2;
    position: relative;
}
.header_section .nav_container {
    padding-bottom: 11px;
    box-shadow: inset 0 -8px 8px -8px #a3a3a2;
}
.header_global {
    background: $header-link;
}
.header_global li, .header_global .new_menu_wrap ul li a {
    color: $gray-dark;
}
.new_menu_wrap ul li.menu_cart {
    position: relative;
}
.main_menu_course, .resources_menu, .menu_partner, .menu_instructor, .menu_cart, .menu_login, .new_menu_wrap .first-level_nav li, .search_topbar {
    cursor: pointer;
}
.resources_dropdown .simpli_community li {
    text-align: center;
    color: $gray-dark !important;
    width: auto;
    background: none;
    height: 100%;
    padding: 0 30px;
    margin-left: 0;
    cursor: default;
}
.new_menu_wrap .menu_cart:before, .new_menu_wrap .menu_cart:hover:before {
    background-position: -388px -153px;
    width: 22px;
    height: 22px;
    content: "";
    display: inline-block;
}
.new_menu_wrap .menu_cart:hover:before {
    background-position: -388px -178px;
}
.menu_logedin:hover:before, .header_global .menu_logedin:hover:before, .header_global .menu_logedin:before {
    background-position: -421px -174px;
}
.new_menu_wrap ul li .cart_wrap {
    position: absolute;
    width: 22px;
    height: 22px;
    top: 0;
    left: 0;
}
.cart_counts {
    min-width: 20px;
    min-height: 16px;
    background: $primary-color;
    border-radius: 50%;
    color: $header-link;
    position: absolute;
    top: -5px;
    right: -9px;
    font-size: 10px;
    text-align: center;
    padding: 0 2px;
}
.new_menu_wrap ul li.menu_logedin {
    position: relative;
    display: none;
}
.header_global .new_menu_wrap .menu_cart:before {
    background-position: -388px -177px;
}
.menu_logedin:before {
    background-position: -421px -149px;
    width: 38px;
    height: 25px;
    content: "";
    display: inline-block;
}
.logedin_dropdown {
    width: 110px;
    height: 136px;
    position: absolute;
    left: -76px;
    top: 18px;
    text-align: center;
    font-weight: 400;
    display: none;
    cursor: default;
    padding-top: 16px;
}
.new_menu_wrap ul li.menu_logedin:hover .logedin_dropdown {
    display: inline-block;
}
.logedin_dropdown_ins {
    background: $brand-success;
    margin-top: 10px;
    padding: 10px 0 15px 0;
}
.logedin_dropdown_ins:before {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $brand-success;
    content: "";
    display: inline-block;
    position: absolute;
    top: 16px;
    right: 15px;
}
.logedin_dropdown span {
    display: block;
    padding-top: 10px;
    cursor: pointer;
    color: $header-link;
}
.logedin_dropdown a.settings_loggedin {
    display: block;
}
.logedin_dropdown span.logout_logedin:before, .logedin_dropdown a.settings_loggedin:before {
    width: 22px;
    height: 25px;
    content: "";
    display: block;
    margin: auto;
}
.logedin_dropdown a.settings_loggedin:before {
    background-position: -426px -208px;
}
.logedin_dropdown span.logout_logedin:before {
    background-position: -390px -208px;
}
.nav_container .pull-right li:hover, .nav_container .pull-right li a:hover, .nav_container .pull-right span.logout_logedin:hover, .header_global .nav_container .pull-right li a.settings_loggedin:hover {
    color: #cccccc;
}
.main_menu_course_active, .resources_menu_active {
    color: $gray-light;
}
.festive_offer_block, .diwali_popup {
	display:none;
}

//media query start//
@media only screen and (min-width: 320px) and (max-width: 1023px){
.mid_logo, .logo {
    width: 96px;
}
.dropdown_shadow {
    width: auto;
    box-shadow: none;
}
.new_menu_wrap ul li.main_menu_course {
    color: transparent;
    height: 26px;
    width: 34px;
}
.new_menu_wrap .second-level_nav li.current_tab:after, .new_menu_wrap .resources_dropdown .first-level_nav li.current_tab:after {
	display:none;
}
}

@media (max-width: 767px){
.new_menu_wrap ul li {
    margin-right: 15px;
}
.dropdown_nav {
    width: 280px;
}
.new_menu_wrap .second-level_nav {
    min-width: 170px;
    max-width: 70%;
}
.header_section .nav_container, .header_section {
    box-shadow:none;
}
}

@media only screen and (min-width:768px) and (max-width: 1023px) {
.dropdown_nav {
    width: 410px;
}
.header_section .nav_container, .header_section {
    box-shadow:none;
}
}
//media query End//