.video_thumbs ul li {
	display: inline-block;
	vertical-align: top;
 a {
 	background: $custom-bg-frs;
	min-height: 295px;
	display: inline-block;
	border: 1px solid $gray-lighter;
	width:$width;
	padding: 10px;
	position: relative;
	margin-bottom: 20px;
	&:hover {
	border: 1px solid $primary-color;
	}
	}
	span {
	position: absolute;
    bottom: 10px;
	color:$gray-dark;
	}
	.video_views {
	right: 11px;
	bottom: 10px;
	}
}
@media screen and (max-width:767px) {
.video_thumbs {
	ul li {
	width:$width;
	a {
	min-height:1px;
	}
	}
	.video_descrip span {
	 position: static;
	}
	.course_img_block {
	width: 25%;
	}
}

.video_descrip {
	width:calc(100% - 30%);
	display: inline-block;
	padding-left: 5%;
	vertical-align: middle;
	h2 {
	}
}
}