<!-- <div class="main-bg">
    <h1>STREAM</h1>
    <P>Insights,Tips & Articles written by experts on Business and Technology Courses</P>
</div> -->

<div class="container">
	<div class="row">
		<div class=col-md-12>
			<h1>TYPOGRAPHY</h1>
		</div>
		<div class="col-md-12">
			<h1>Light 56PX <mark>(H1 Tag)</mark></h1>
			<h1 class="light-40sp">Light 40PX <mark>(H1 Tag) + class="light-40sp"</mark></h1>
			<h2>Light 34px <mark>(H2 tag)</mark></h2>
			<h2 class="book">Book 30px <mark>(H2 Tag + class="book")</mark></h2>
			<h3>Book 24px</h3>
			<span class="heading-label">Heading label <mark>(class="heading-label")</mark></span>
			<br><br>
			<p class="sub-heading">sub heading <mark>(class="sub-heading")</mark></p>
			<br>
			<p class="default-text-bold"> default text bold <mark>(class="default-text-bold")</mark></p>
			<br>
			<p class="default-text"> default text <mark>(class="default-text")</mark> </p>
			<br>
			<p class="meta-text"> meta text <mark>(class="meta-text")</mark> </p>
			<br>
			<p class="caption">caption <mark>(class="caption")</mark></p>
			<br>
			<p class="small-meta-text">small meta text <mark>(class="small-meta-text")</mark></p>
			<br>
			<p class="input-text">input text <mark>(class="input-text")</mark></p>
			<br>
			<label class="label-text">label text <mark>(class="label-text")</mark></label>
			<br><br>
			<label class="label-text-small">label text small <mark>(class="label-text-small")</mark></label>
		</div>
	</div>
</div>
<div class="bg-class">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="bg-h1">Light 56PX <mark>(H1 Tag)</mark></h1>
				<h1 class="bg-h1-40sp">Light 40PX <mark>(H1 Tag) + class="light-40sp"</mark></h1>
				<h2 class="bg-h2">Light 34px <mark>(H2 tag)</mark></h2>
				<h2 class="bg-h2-book">Book 30px <mark>(H2 Tag + class="book")</mark></h2>
				<h3 class="bg-h3">Book 24px</h3>
				<span class="bg-heading-label">Heading label <mark>(class="heading-label")</mark></span>
				<br><br>
				<p class="bg-sub-heading">sub heading <mark>(class="bg-sub-heading")</mark></p>
				<br>
				<p class="bg-default-text-bold"> default text bold <mark>(class="bg-default-text-bold")</mark></p>
				<br>
				<p class="bg-default-text"> default text <mark>(class="bg-default-text")</mark> </p>
				<br>
				<p class="bg-meta-text"> meta text <mark>(class="bg-meta-text")</mark> </p>
				<br>
				<p class="bg-caption">caption <mark>(class="bg-caption")</mark></p>
				<br>
				<p class="bg-small-meta-text">small meta text <mark>(class="bg-small-meta-text")</mark></p>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<h1>Button Styling :</h1>
		<div class="col-md-12 bts">
			<button type="button" class="btn btn-default btn-lg">Border Button </button>
			<button type="button" class="btn btn-default btn-lg disabled">Primary Button</button>
			<button type="button" class="btn btn-default btn-sm"> Button</button>
			<button type="button" class="btn btn-default btn-sm disabled"> Button</button>
			<p><mark>class="btn-default"</mark></p>
		</div>
		<div class="col-md-12 bts">
			<button type="button" class="btn btn-primary btn-lg">Primary Button</button>
			<button type="button" class="btn btn-primary btn-lg disabled">Primary Button</button>
			<button type="button" class="btn btn-primary btn-sm"> Button</button>
			<button type="button" class="btn btn-primary btn-sm disabled"> Button</button>
			<p><mark>class="btn-primary"</mark></p>
		</div>
		<div class="col-md-12 bts">
			<button type="button" class="btn btn-success btn-lg">secondary Button</button>
			<button type="button" class="btn btn-success btn-lg disabled">secondary Button</button>
			<button type="button" class="btn btn-success btn-sm"> Button</button>
			<button type="button" class="btn btn-success btn-sm disabled"> Button</button>
			<p><mark>class="btn-success"</mark></p>
		</div>
		<div class="col-md-12 bts">
			<button type="button" class="btn btn-link btn-lg">Primary Button</button>
			<button type="button" class="btn btn-link btn-lg disabled">Primary Button</button>
			<button type="button" class="btn btn-link btn-sm"> Button</button>
			<button type="button" class="btn btn-link btn-sm disabled"> Button</button>
			<p><mark>class="btn-link"</mark></p>
		</div>
		<div class="col-md-12">
		<h1>Typography :</h1>
			<div>
				<h1>This is H1 Heading with white background</h1>
			</div>
			<div class="background-div"> 
				<h1 class="h1-dark"><mark> class="h1-dark"</mark> This is H1 Heading with dark background </h1>
			</div>
			<div>
				<h1 class="h1-inner"><mark> class="h1-inner"</mark> This is H1 Heading with white background for inner pages</h1>
			</div>
			<div class="background-div">
				<h1 class="h1-inner-bg"> <mark>class="h1-inner-bg"</mark> This is H1 Heading with dark background for inner pages </h1>
			</div>
			<div>
				<h2>This is H2 Heading with white background</h2>
			</div>
			<div class="background-div">
				<h2 class="h1-dark">This is H2 Heading with dark background</h2>
			</div>
			<div>
				<h3>This is H3 Heading with white background</h3>
			</div>
			<div class="background-div">
				<h3 class="h1-dark">This is H3 Heading with dark background</h3>
			</div>
			<div>
				<h4>This is H4 Heading with white background</h4>
			</div>
			<div class="background-div">
				<h4 class="h1-dark">This is H4 Heading with dark background</h4>
			</div>
			<div>
				<h5>This is H5 Heading with white background</h5>
			</div>
			<div class="background-div">
				<h5 class="h1-dark">This is H5 Heading with dark background</h5>
			</div>
			<div>
				<h6>This is H6 Heading with white background</h6>
			</div>
			<div class="background-div">
				<h6 class="h1-dark">This is H6 Heading with dark background</h6>
			</div>
		</div>
		<div class="col-md-12">
			<h2>Sub headings</h2>
			<div>	
				<small class="sh-normal">This is H1 sub Heading<mark> class="sh-normal" </mark></small>
			</div>
			<br>
			<div class="background-div">
				<small class="sh-dark">This is H1 sub Heading with dark background<mark> class="sh-dark"</mark></small>
			</div>
			<br>
			<div class="">
				<small class="sh-light">This is H1 sub Heading with light color<mark> class="sh-light"</mark></small>
			</div>
			<br>
			<div>	
				<small class="sh-small">This is H1 sub Heading with smaller size<mark> class="sh-small" </mark></small>
			</div>
			<br>
			<div class="background-div">
				<small class="sh-dark-small">This is H1 sub Heading with smaller size and dark background<mark> class="sh-dark-small"</mark></small>
			</div>
			<br>
			<div class="">
				<small class="sh-light-small">This is H1 sub Heading with smaller size and light color<mark>class="sh-light-small"</mark></small>
			</div>
		</div>
		<div class="col-md-12">
			<h2>Paragraphs</h2>
			<p class="text-normal"><mark>class="text-normal"</mark> This is Paragraphs : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestib ulum arcu nibh, ac vulputate nisi tempor sit amet. Nulla facilisi. Nam ut massa tincidunt, pharetra magna in, molestie odio. tellus, ut sceleri sque neque rutrum eu.</p>
			<br>
			<div class="background-div">
				<p class="text-dark"><mark>class="text-dark"</mark>This is Paragraphs : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestib ulum arcu nibh, ac vulputate nisi tempor sit amet. Nulla facilisi. Nam ut massa tincidunt, pharetra magna in, molestie odio. tellus, ut sceleri sque neque rutrum eu.</p>
			</div>
			<br>
			<p class="text-light">
				<mark>class="text-light"</mark>This is Paragraphs : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestib ulum arcu nibh, ac vulputate nisi tempor sit amet. Nulla facilisi. Nam ut massa tincidunt, pharetra magna in, molestie odio. tellus, ut sceleri sque neque rutrum eu.
			</p>
			<br>
			<p class="text-small"><mark>class="text-small"</mark>This is Paragraphs : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestib ulum arcu nibh, ac vulputate nisi tempor sit amet. Nulla facilisi. Nam ut massa tincidunt, pharetra magna in, molestie odio. tellus, ut sceleri sque neque rutrum eu.</p>
			<br>
			<div class="background-div">
				<p class="text-dark-small"><mark>class="text-dark-small"</mark>This is Paragraphs : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestib ulum arcu nibh, ac vulputate nisi tempor sit amet. Nulla facilisi. Nam ut massa tincidunt, pharetra magna in, molestie odio. tellus, ut sceleri sque neque rutrum eu.</p>
			</div>
			<br>
			<p class="text-light-small">
				<mark>class="text-light-small"</mark>This is Paragraphs : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vestib ulum arcu nibh, ac vulputate nisi tempor sit amet. Nulla facilisi. Nam ut massa tincidunt, pharetra magna in, molestie odio. tellus, ut sceleri sque neque rutrum eu.
			</p>	
		</div>
		<div class="col-md-12">
			<h2>LABELS</h2>
			<label class="label-normal"><mark>class="label-normal"</mark> This is label 1: Lorem ipsum dolor sit amet</label>
			<br><br>
			<div class="background-div">
				<label class="label-dark"><mark>class="label-dark"</mark> This is label 1: Lorem ipsum dolor sit amet</label>
			</div>
			<br>
			<div>
				<label class="label-3"><mark>class="label-3"</mark> This is label 3: Lorem ipsum dolor sit amet</label>
			</div>
			<br>
		</div>
		<div class="col-md-12">
			<a href="#">This is default text link</a>
				<br><br>
		</div>

		<div class="col-md-12">
		<h1>Form Elements :</h1>
		<h2>Input and select box</h2>
			<div class="form-control-wrapper">
				<input type="text" class="form-control-material">
				<div class="floating-label">Name</div>
				<div class="floating-label_border"></div>
			</div>
			<div class="form-control-wrapper">
				<input type="text" class="form-control-material">
				<div class="floating-label">Email</div>
				<div class="floating-label_border"></div>
			</div>
			<div class="form-control-wrapper">
				<textarea class="form-control-material"></textarea>
				<div class="floating-label">Your Message</div>
				<div class="floating-label_border"></div>
			</div>
			<div class="form-control-wrapper">
                <input disabled="" value="I am not editable" id="disabled" type="text" class="form-control-material">
                <div class="floating-label active">Disabled</div>
                <!-- <label for="disabled" class="active">Disabled</label> -->
             </div>
			<div class="select_box form-control-wrapper">
				<select class="form-control-material">
					<option>Select Course</option>
					<option>PMP</option>
					<option>Big Data</option>
				</select>
			</div>
		</div>
		<div class="col-md-12">
		<h2>Check box</h2>
			<div class="form-checkbox">
       			<label>
           			<input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> I agree to be contacted over email
       			</label>
    		</div>
    	</div>

		<div class="col-md-12">
			<h2>Radion buttons</h2> 
			<div class="sample1">
			   <div class="form-radio radio-success">
			     <label>
			       <input type="radio" name="sample1" value="option1" checked=""><span class="circle"></span><span class="check"></span>
			       Myself
			     </label>
			   </div>
			   <div class="form-radio radio-success">
			     <label>
			       <input type="radio" name="sample1" value="option1"><span class="circle"></span><span class="check"></span>
			       My team/organization
			     </label>
			   </div> 
			</div>
		</div>
		<div class="col-md-12">
			<div class="media">
			  <div class="media-left media-middle">
			    <a href="#">
			      <img class="media-object" src="..." alt="...">
			    </a>
			  </div>
			  <div class="media-body">
			    <h4 class="media-heading">Middle aligned media</h4>
			    ...
			  </div>
			</div>
		</div>
		<div class="col-md-12">
			<h1>Sprite images :</h1>
			<div class="home-sprite"></div><p>variable name = $home-page-sprite"</p>
		    <div class="media-img"></div><p>variable name = $media-home"</p>
		    <div class="footer-icon"></div><p>variable name = $header-sprite"</p>
		    <div class="course-icon"></div><p>variable name = $course-page-sprite"</p>
		    <div class="course-icon2"></div><p>variable name = $course-page-sprite2"</p>
		    <div class="course-list"></div><p>variable name = $course-list"</p>
		    <div class="frs"></div><p>variable name = $frs"</p>
		    <div class="about-page"></div><p>variable name = $about-page"</p>
		    <div class="media-page"></div><p>variable name = $media-page"</p>
		    <div class="affiliate-page"></div><p>variable name = $affiliate-page"</p>
		    <div class="atp-page"></div><p>variable name = $atp-page"</p>
		</div>
</div>