<!-- <div class="main-bg">
    <h1>STREAM</h1>
    <P>Insights,Tips & Articles written by experts on Business and Technology Courses</P>
</div> -->

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>COLOR PALETTE</h2>
			<div class="row">
				<div class="col-md-4">
					<div class="brand-primary">
						$brand-primary: #f8ab33
					</div>
				</div>
				<div class="col-md-4">
					<div class="brand-success">
							$brand-success: #00a6df
					</div>
				</div>
				<div class="col-md-4">
					<div class="border-color">
						$border-color:#d8d8d8
					</div>
				</div>
			</div>
			<br><br>
		</div>
	</div>
	<div class="row">
		<div class=col-md-12>
			<h2>TYPOGRAPHY</h2>
		</div>
		<div class="col-md-12">
			<h1>Light 56PX <mark>H1 Tag</mark></h1>
			<h1 class="light-40sp">Light 40PX <mark>H1 Tag + class="light-40sp"</mark></h1>
			<h2>Light 34px <mark>(H2 tag)</mark></h2>
			<h2 class="book">Book 30px <mark>H2 Tag + class="book"</mark></h2>
			<h3>Book 24px <mark>H3 Tag</mark></h3>
			<span class="heading-label">Heading label (medium 18px) <mark>class="heading-label"</mark></span>
			<br><br>
			<p class="sub-heading">sub heading (book 18px) <mark>class="sub-heading"</mark></p>
			<br>
			<p class="default-text-bold"> default text bold (medium 16px) <mark>class="default-text-bold"</mark></p>
			<br>
			<p class="default-text-bold-1"> default text bold (medium 16px) <mark>class="default-text-bold-1"</mark></p>
			<br>
			<p class="default-text"> default text (book 16px ) <mark>class="default-text"</mark> </p>
			<br>
			<p class="meta-text"> meta text (book 14px) <mark>(class="meta-text")</mark> </p>
			<br>
			<p class="caption">caption (book 14px) <mark>class="caption"</mark></p>
			<br>
			<p class="caption-dark">caption dark (book 14px) <mark>class="caption-dark"</mark></p>
			<br>
			<p class="small-meta-text">small meta text (book 12px) <mark>class="small-meta-text"</mark></p>
			<br>
			<p class="input-text">input text (book 14px) <mark>class="input-text"</mark></p>
			<br>
			<label class="label-text">label text (book 14px) <mark>class="label-text"</mark></label>
			<br><br>
			<label class="label-text-small">label text small (book 12px) <mark>class="label-text-small"</mark></label>
			<br><br>
			<p class="error">Error text (book 12px) <mark>class="error"</mark></p>
			<br>
			<p class="disabled-text">disabled text <mark>class="disabled-text"</mark></p>
		</div>
	</div>
</div>
<div class="bg-class">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="bg-h1">Light 56PX <mark>H1 Tag+class="bg-h1"</mark></h1>
				<h1 class="bg-h1-40sp">Light 40PX <mark>H1 Tag + class="bg-h1-40sp"</mark></h1>
				<h2 class="bg-h2">Light 34px <mark>H2 tag + class="bg-h2"</mark></h2>
				<h2 class="bg-h2-book">Book 30px <mark>H2 Tag + class="bg-h2-book"</mark></h2>
				<h3 class="bg-h3">Book 24px <mark>(H3 Tag + class="bg-h3")</mark></h3>
				<span class="bg-heading-label">Heading label(medium 18px) <mark>class="bg-heading-label"</mark></span>
				<br><br>
				<p class="bg-sub-heading">sub heading (book 18px) <mark> class="bg-sub-heading"</mark></p>
				<br>
				<p class="bg-default-text-bold"> default text bold (medium 16px) <mark>class="bg-default-text-bold"</mark></p>
				<br>
				<p class="bg-default-text"> default text (book 16px ) <mark>class="bg-default-text"</mark> </p>
				<br>
				<p class="bg-meta-text"> meta text (book 14px) <mark>class="bg-meta-text"</mark> </p>
				<br>
				<p class="bg-caption">caption (book 14px) <mark>class="bg-caption"</mark></p>
				<br>
				<p class="bg-small-meta-text">small meta text (book 12px) <mark>class="bg-small-meta-text"</mark></p>	
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Paragraphs</h2>
		</div>
		<div class="col-md-12">
			<h3>Default text</h3>
			<p class="default-text">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
		<div class="col-md-12">
			<h3>Meta text</h3>
			<p class="meta-text">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
		<div class="col-md-12">
			<h3>Small meta text</h3>
			<p class="small-meta-text">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<h1>Button and Links :</h1>

		<h2>Primary Buttons</h2>

		<div class="col-md-12 bts">
			<div class="row">	
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-primary btn-lg">Primary Button
					</button>
					<br><br>	
					<p><mark>class="btn-primary btn-lg"</mark></p>		
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-primary btn-lg" disabled>Primary Button</button>
					<br><br>	
					<p><mark>class="btn-primary btn-lg" + attribute "disabled"</mark></p>		
				</div>
				<div class="col-md-4">
					<p>Flat Button</p>
					<button type="button" class="btn btn-primary btn-lg btn-flat">Primary Button</button>
					<br><br>	
					<p><mark>class="btn-primary btn-lg btn-flat"</mark></p>	
				</div>		
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-primary btn-sm">Primary Button Sm</button>
					<br><br>
					<p><mark>class="btn-primary btn-sm"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-primary btn-sm" disabled>Primary Button Sm</button>
					<br><br>
					<p><mark>class="btn-primary btn-sm" + attribute "disabled"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>Flat Button</p>
					<button type="button" class="btn btn-primary btn-sm btn-flat">Primary Button</button>
					<br><br>
					<p><mark>class="btn-primary btn-sm btn-flat"</mark></p>	
				</div>	
			</div>
			<hr>
		</div>
		<div class="col-md-12 bts">
			<div class="row">	
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-success btn-lg">success Button

					</button>
					<br><br>
					<p><mark>class="btn-success btn-lg"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-success btn-lg" disabled>success Button</button>
					<br><br>
					<p><mark>class="btn-success btn-lg" + attribute "disabled"</mark></p>		
				</div>
				<div class="col-md-4">
					<p>Flat Button</p>
					<button type="button" class="btn btn-success btn-lg btn-flat">Primary Button</button>
					<br><br>
					<p><mark>class="btn-success btn-lg btn-flat"</mark></p>	
				</div>			
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-success btn-sm">Success Button</button>
					<br><br>
					<p><mark>class="btn-success btn-sm"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-success btn-sm" disabled>Success Button</button>
					<br><br>
					<p><mark>class="btn btn-success btn-sm" + attribute "disabled"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>Flat Button</p>
					<button type="button" class="btn btn-success btn-sm btn-flat">Primary Button</button>
					<br><br>
					<p><mark>class="btn-success btn-sm btn-flat"</mark></p>	
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-default">Flat Button </button>
					<br><br>
					<p><mark>class="btn-default"</mark></p>
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-default" disabled>Flat Button</button>
					<br><br>
					<p><mark>class="btn-default" + attribute "disabled"</mark></p>
				</div>
			</div>	
		</div>
		<div class="col-md-12">
		<h1>Text link</h1>
			<div class="row">
				<div class="col-md-4">
					<a href="#">This is default text link</a>
					<p><mark>a tag</mark></p>
				</div>
				<div class="col-md-4">
					<a href="" class="link-14sp">This is default text link(14px)</a>
					<p><mark>class="link-14sp"</mark></p>
				</div>
				<div class="col-md-4">
					<a href="" class="link-grey">This is default grey text link(14px)</a>
					<p><mark>class="link-grey"</mark></p>
				</div>
			</div>
			
			
				<br><br>
		</div>
		<div class="col-md-8">
		<h1>Form Elements :</h1>
		<h2>Input and select box</h2>
			<h3>Without floating lable</h3>
			<div class="form-control-wrapper">
				<input type="text" class="form-control-material" placeholder="Placeholder attribute">
				<div class="floating-label_border"></div>
			</div>
			<figure class="highlight">
				<pre>
					<code class="language-html" data-lang="html">
						&lt;div class="form-control-wrapper"&gt;<br />
							&nbsp	&lt;input type="text" class="form-control-material"&gt;<br />
							&nbsp	&lt;div class="floating-label_border"&gt;&lt;/div&gt;<br />
						&lt;/div&gt;
					</code>
				</pre>
			</figure>
			<h3>With floating lable</h3>
			<h4>Legacy floating lable as placeholder attribute</h4>
			<div class="form-control-wrapper">
				<input type="text" class="form-control-material">
				<div class="floating-label">Email</div>
				<div class="floating-label_border"></div>
			</div>
			<div class="form-control-wrapper">
				<input type="text" class="form-control-material">
				<div class="floating-label">Name</div>
				<div class="floating-label_border"></div>
			</div>
			<figure class="highlight">
				<pre>
					<code class="language-html" data-lang="html">
						&lt;div class="form-control-wrapper"&gt;<br />
							&nbsp &lt;input type="text" class="form-control-material"&gt;<br />
							&nbsp &lt;div class="floating-label"&gt;Name&lt;/div&gt;<br />
							&nbsp &lt;div class="floating-label_border"&gt;&lt;/div&gt;<br />
						&lt;/div&gt;
					</code>
				</pre>
			</figure>
			<br>
			<h4>Error floating lable as placeholder attribute</h4>
			<div class="form-control-wrapper">
				<input type="text" class="form-control-material" required>
				<div class="floating-label">Name</div>
				<div class="floating-label_border"></div>
			</div>
			<figure class="highlight">
				<pre>
					<code class="language-html" data-lang="html">
						&lt;div class="form-control-wrapper"&gt;<br />
							&nbsp &lt;input type="text" class="form-control-material" required &gt;<br />
							&nbsp &lt;div class="floating-label"&gt;Name&lt;/div&gt;<br />
							&nbsp &lt;div class="floating-label_border"&gt;&lt;/div&gt;<br />
						&lt;/div&gt;
					</code>
				</pre>
			</figure>
			<h4>Text area with floating lable</h4>
			<div class="form-control-wrapper">
				<textarea class="form-control-material"></textarea>
				<div class="floating-label">Your Message</div>
				<div class="floating-label_border"></div>
			</div>
			<figure class="highlight">
				<pre>
					<code class="language-html" data-lang="html">
						&lt;div class="form-control-wrapper"&gt;<br />
							&nbsp &lt;textarea class="form-control-material"&gt;&lt;/textarea&gt;<br />
							&nbsp &lt;div class="floating-label"&gt;Your Message&lt;/div&gt;<br />
							&nbsp &lt;div class="floating-label_border"&gt;&lt;/div&gt;<br />
						&lt;/div&gt;
					</code>
				</pre>
			</figure>
			<br>
			<h4>Disabled floating lable</h4>
			<br>
			<div class="form-control-wrapper">
                <input disabled="" value="I am not editable" id="disabled" type="text" class="form-control-material">
                <div class="floating-label active">Disabled</div>
             </div>
             <figure class="highlight">
				<pre>
					<code class="language-html" data-lang="html">
						&lt;div class="form-control-wrapper"&gt;<br />
			                &nbsp &lt;input disabled="" value="I am not editable" id="disabled" type="text" class="form-control-material"&gt;<br />
			                &nbsp &lt;div class="floating-label active"&gt;Disabled&lt;/div&gt;<br />
			             &lt;/div&gt;
					</code>
				</pre>
			</figure>
			<br><br>
			<h2>Select Default</h2>
			<div class="select_box form-control-wrapper">
				<select class="form-control-material">
					<option>Select Course</option>
					<option>PMP</option>
					<option>Big Data</option>
				</select>
			</div>
			<br>
			<h2>Bootstrap DropDown</h2>
			<div class="dropdown">
			  <a href="javascript:void(0)" class="dropdown-test " id="dLabel"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Dropdown trigger
			    <span class="caret"></span>
			  </a>
			  <ul class="dropdown-menu" aria-labelledby="dLabel">
			   		<li><a href="">Dropdown Select 1</a></li>
			   		<li><a href="">Dropdown Select 2</a></li>
			   		<li><a href="">Dropdown Select 3</a></li>
			  </ul>
			</div>

			<h2>Search option 1</h2>
			<div class="form-control-wrapper">
				<input type="search" class="form-control-material" />
				<div class="floating-label">Label text</div>
				<div class="floating-label_border"></div>
				<div class="search-icon"></div>
			</div>

			<h2>Search option 2</h2>
			<div class="form-control-wrapper">
				<input type="search" class="form-control" placeholder="label text" />
				<div class="search-icon"></div>
			</div>
		</div>
		<div class="col-md-12">
		<h2>Check box</h2>
			<div class="form-checkbox">
       			<label>
           			<input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> I agree to be contacted over email
       			</label>
    		</div>
    	</div>

		<div class="col-md-12">
			<h2>Radio buttons</h2> 
			<div class="sample1">
			   <div class="form-radio radio-success">
			     <label>
			       <input type="radio" name="sample1" value="option1" checked=""><span class="circle"></span><span class="check"></span>
			       Myself
			     </label>
			   </div>
			   <div class="form-radio radio-success">
			     <label>
			       <input type="radio" name="sample1" value="option1">
			       	<span class="circle"></span>
			       	<span class="check"></span>
			       My team/organization
			     </label>
			   </div> 
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Modal Box</h2>
				<div class="bs-example bs-example-modal" data-example-id="static-modal">
					<!-- <div class="modal fade in modal-backdrop" tabindex="-1" role="dialog"> -->
					<div class="modal" tabindex="-1" role="dialog">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <a href="" class="close" data-dismiss="modal" aria-label="Close">	</a>
					      <div class="modal-body clearfix">
							<h3>Modal title</h3>					      
					        <p>One fine body&hellip;</p>
					        <div class="pull-right">
						      	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        <button type="button" class="btn btn-sm btn-primary">Save changes</button>
					      	</div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<h3>Live demo</h3>
				<!-- Button trigger modal -->
					<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
					  Launch demo modal
					</button>

					<!-- Modal -->
					<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					       <a href="" class="close" data-dismiss="modal" aria-label="Close">
					      		
					      	</a>
					        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					        <button type="button" class="btn btn-sm btn-primary">Save changes</button>
					      </div>
					    </div>
					  </div>
					</div>		
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2>Popover</h2>
				<div class="bs-example bs-example-popover" data-example-id="static-popovers">
					<div class="popover top">
						<span class="arrow"></span> 
						<div class="popover-content"> 
							<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p> 
						</div> 
					</div> 
					<div class="popover right">
						<span class="arrow"></span> 
						<div class="popover-content"> 
							<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p> 
						</div> 
					</div> 
					<div class="popover bottom"> 
						<span class="arrow"></span> 
						<div class="popover-content"> 
							<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p> 
						</div> 
					</div>
					<div class="popover left"> 
						<span class="arrow"></span> 
						<div class="popover-content"> 
							<p>Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</p> 
						</div> 
					</div> 

					<div class="clearfix"></div> 
				</div>
				<!-- <h3>Popover Live Demo</h3>
				<div>
					<button type="button" id="popoverDemo" class="btn btn-default" data-container="body" data-trigger="focus" data-toggle="popover" data-placement="right" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
						  Popover on top
						</button>
				</div> -->

				<h2>Tooltip Live Demo</h2>
				<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Tooltip simplilearn">Tooltip on hover</button>
				<br><br>
			</div>
		</div>
</div>