<!-- <div class="main-bg">
    <h1>STREAM</h1>
    <P>Insights,Tips & Articles written by experts on Business and Technology Courses</P>
</div> -->

<div class="container">
	<div class="row">
		<div class=col-md-12>
			<h1>TYPOGRAPHY</h1>
		</div>
		<div class="col-md-12">
			<h1>Light 56PX <mark>(H1 Tag)</mark></h1>
			<h1 class="light-40sp">Light 40PX <mark>(H1 Tag) + class="light-40sp"</mark></h1>
			<h2>Light 34px <mark>(H2 tag)</mark></h2>
			<h2 class="book">Book 30px <mark>(H2 Tag + class="book")</mark></h2>
			<h3>Book 24px</h3>
			<span class="heading-label">Heading label <mark>(class="heading-label")</mark></span>
			<br><br>
			<p class="sub-heading">sub heading <mark>(class="sub-heading")</mark></p>
			<br>
			<p class="default-text-bold"> default text bold <mark>(class="default-text-bold")</mark></p>
			<br>
			<p class="default-text"> default text <mark>(class="default-text")</mark> </p>
			<br>
			<p class="meta-text"> meta text <mark>(class="meta-text")</mark> </p>
			<br>
			<p class="caption">caption <mark>(class="caption")</mark></p>
			<br>
			<p class="small-meta-text">small meta text <mark>(class="small-meta-text")</mark></p>
			<br>
			<p class="input-text">input text <mark>(class="input-text")</mark></p>
			<br>
			<label class="label-text">label text <mark>(class="label-text")</mark></label>
			<br><br>
			<label class="label-text-small">label text small <mark>(class="label-text-small")</mark></label>
			<br><br>
			<p class="error">Error text <mark>(class="error")</mark></p>
			<br>
			<p class="disabled-text">disabled text <mark>(class="disabled-text")</mark></p>
		</div>
	</div>
</div>
<div class="bg-class">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="bg-h1">Light 56PX <mark>(H1 Tag)</mark></h1>
				<h1 class="bg-h1-40sp">Light 40PX <mark>(H1 Tag) + class="light-40sp"</mark></h1>
				<h2 class="bg-h2">Light 34px <mark>(H2 tag)</mark></h2>
				<h2 class="bg-h2-book">Book 30px <mark>(H2 Tag + class="book")</mark></h2>
				<h3 class="bg-h3">Book 24px</h3>
				<span class="bg-heading-label">Heading label <mark>(class="heading-label")</mark></span>
				<br><br>
				<p class="bg-sub-heading">sub heading <mark>(class="bg-sub-heading")</mark></p>
				<br>
				<p class="bg-default-text-bold"> default text bold <mark>(class="bg-default-text-bold")</mark></p>
				<br>
				<p class="bg-default-text"> default text <mark>(class="bg-default-text")</mark> </p>
				<br>
				<p class="bg-meta-text"> meta text <mark>(class="bg-meta-text")</mark> </p>
				<br>
				<p class="bg-caption">caption <mark>(class="bg-caption")</mark></p>
				<br>
				<p class="bg-small-meta-text">small meta text <mark>(class="bg-small-meta-text")</mark></p>	
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Paragraphs</h2>
		</div>
		<div class="col-md-12">
			<h3>Default text</h3>
			<p class="default-text">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
		<div class="col-md-12">
			<h3>Meta text</h3>
			<p class="meta-text">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
		<div class="col-md-12">
			<h3>Small meta text</h3>
			<p class="small-meta-text">
				Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
			</p>
		</div>
	</div>
</div>
<div class="container">
	<div class="row">
		<h1>Button and Links :</h1>

		<h2>Primary Buttons</h2>

		<div class="col-md-12 bts">
			<div class="row">	
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-primary btn-lg">Primary Button</button>
					<br><br>	
					<p><mark>class="btn-primary btn-lg"</mark></p>		
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-primary btn-lg disabled">Primary Button</button>
					<br><br>	
					<p><mark>class="btn-primary btn-lg disabled"</mark></p>		
				</div>
				<div class="col-md-4">
					<p>Flat Button</p>
					<button type="button" class="btn btn-primary btn-lg btn-flat">Primary Button</button>
					<br><br>	
					<p><mark>class="btn-primary btn-lg btn-flat"</mark></p>	
				</div>		
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-primary btn-sm">Primary Button Sm</button>
					<br><br>
					<p><mark>class="btn-primary btn-sm"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-primary btn-sm disabled">Primary Button Sm</button>
					<br><br>
					<p><mark>class="btn-primary btn-sm disabled"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>Flat Button</p>
					<button type="button" class="btn btn-primary btn-sm btn-flat">Primary Button</button>
					<br><br>
					<p><mark>class="btn-primary btn-sm btn-flat"</mark></p>	
				</div>	
			</div>
			<hr>
		</div>
		<div class="col-md-12 bts">
			<div class="row">	
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-success btn-lg">success Button</button>
					<br><br>
					<p><mark>class="btn-success btn-lg"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-success btn-lg disabled">success Button</button>
					<br><br>
					<p><mark>class="btn-success btn-lg disabled"</mark></p>		
				</div>
				<div class="col-md-4">
					<p>Flat Button</p>
					<button type="button" class="btn btn-success btn-lg btn-flat">Primary Button</button>
					<br><br>
					<p><mark>class="btn-success btn-lg btn-flat"</mark></p>	
				</div>			
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-success btn-sm">Success Button</button>
					<br><br>
					<p><mark>class="btn-success btn-sm"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-success btn-sm disabled">Success Button</button>
					<br><br>
					<p><mark>class="btn btn-success btn-sm disabled"</mark></p>	
				</div>
				<div class="col-md-4">
					<p>Flat Button</p>
					<button type="button" class="btn btn-success btn-sm btn-flat">Primary Button</button>
					<br><br>
					<p><mark>class="btn-success btn-sm btn-flat"</mark></p>	
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-4">
					<p>default</p>
					<button type="button" class="btn btn-default">Flat Button </button>
					<br><br>
					<p><mark>class="btn-default"</mark></p>
				</div>
				<div class="col-md-4">
					<p>disabled</p>
					<button type="button" class="btn btn-default  disabled">Flat Button</button>
					<br><br>
					<p><mark>class="btn-default disabled"</mark></p>
				</div>
			</div>	
		</div>
		<div class="col-md-12">
		<h1>Text link</h1>
			<div class="row">
				<div class="col-md-4">
					<a href="#">This is default text link</a>
					<p><mark>a tag</mark></p>
				</div>
				<div class="col-md-4">
					<a href="" class="link-14sp">This is default text link(14px)</a>
					<p><mark>class="link-14sp"</mark></p>
				</div>
				<div class="col-md-4">
					<a href="" class="link-grey">This is default grey text link(14px)</a>
					<p><mark>class="link-grey"</mark></p>
				</div>
			</div>
			
			
				<br><br>
		</div>

		<div class="col-md-12">
		<h1>Form Elements :</h1>
		<h2>Input and select box</h2>
			<div class="form-control-wrapper">
				<input type="text" class="form-control-material">
				<div class="floating-label">Name</div>
				<div class="floating-label_border"></div>
			</div>
			<div class="form-control-wrapper">
				<input type="text" class="form-control-material">
				<div class="floating-label">Email</div>
				<div class="floating-label_border"></div>
			</div>
			<div class="form-control-wrapper">
				<textarea class="form-control-material"></textarea>
				<div class="floating-label">Your Message</div>
				<div class="floating-label_border"></div>
			</div>
			<div class="form-control-wrapper">
                <input disabled="" value="I am not editable" id="disabled" type="text" class="form-control-material">
                <div class="floating-label active">Disabled</div>
                <!-- <label for="disabled" class="active">Disabled</label> -->
             </div>
			<div class="select_box form-control-wrapper">
				<select class="form-control-material">
					<option>Select Course</option>
					<option>PMP</option>
					<option>Big Data</option>
				</select>
			</div>
		</div>
		<div class="col-md-12">
		<h2>Check box</h2>
			<div class="form-checkbox">
       			<label>
           			<input type="checkbox"><span class="checkbox-material"><span class="check"></span></span> I agree to be contacted over email
       			</label>
    		</div>
    	</div>

		<div class="col-md-12">
			<h2>Radion buttons</h2> 
			<div class="sample1">
			   <div class="form-radio radio-success">
			     <label>
			       <input type="radio" name="sample1" value="option1" checked=""><span class="circle"></span><span class="check"></span>
			       Myself
			     </label>
			   </div>
			   <div class="form-radio radio-success">
			     <label>
			       <input type="radio" name="sample1" value="option1"><span class="circle"></span><span class="check"></span>
			       My team/organization
			     </label>
			   </div> 
			</div>
		</div>
</div>