$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower
@import "sass/style.scss";

body {
  font-family: "Gotham Rounded SSm A", "Gotham Rounded SSm B", Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #777;
  line-height: 24px;
}
.h1-text{
	font-size:24px;
  
}

.frs-nav{
  z-index: 1;
  margin-bottom:0;
  border: 0;
  margin: 10px 0;
}
.main-menu{
  font-size: 14px;
  line-height: 1.1;
  color: #ffffff;
  font-weight:$book;
}
.main-menu:before{
    background: url($sprite) no-repeat;
    background-position: -21px -22px;
    // background-position: -462px -129px;
    width: 22px;
    height: 22px;
    display: inline-block;
    content: "";
    vertical-align: middle;
    margin-right: 12px;
}
.mid_logo {
    position: absolute;
    width: 146px;
    height: 39px;
    top:0px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
.logo {
    float: left;
    display: inline-block;
    width: 146px;
    height: 39px;
    margin: 10px 0;
}
.login-span{
  display: inline-block;
  &:before{
    background: url($sprite) no-repeat;
    background-position: -61px -20px;
    width: 28px;
    height: 27px;
    content: "";
    display: inline-block;
  }
  .arrow-icon{
    display: inline-block;
    vertical-align: top;
    padding: 2px 8px;
    &:before{
    background: url($sprite) no-repeat;
    background-position: -113px -23px;
    width: 15px;
    height: 15px;
    content: "";
    display: inline-block;
  }
  }
}
.main-bg{
    background:url(../images/photo-1.png) no-repeat scroll center center / cover;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 355px;
    display: inline-block;
    margin-top: -86px;
}