.article_comment_section {
margin-top:20px;
border-top:3px solid #222;
padding-top:10px
}
form.comment_form {
padding-top:10px
}
.comments-list {
padding-top:20px
}

.comments-list li {
margin-top:50px
}

.comment-discription {
	border:1px solid #e7e7e7;
	border-radius:4px;
	padding:10px 20px;
}
.comment-img {
	background:url($free_resources_detail_icons) 47px 0;
	width:50px!important;
	height:50px!important;
	display:inline-block;
}

span.comment-date {
	color:#ADADAD;
	font-size:12px;
	margin-left:20px;
}
.comments-list {
	padding-top:20px
}

.comments-list li {
	margin-top:50px
}
.article_comment_section .load_more_articles {
	margin-top:15px
}
.nxt-article {
	background-color:#222;
	overflow:hidden;
	height:55px;
	width:300px;
	margin:5px 1px;
	bottom:99999px;
	position:absolute;
	right:0;
	transition:height .5s;
	-webkit-transition:height .5s
}

.nxt-article:hover {
	height:170px;
	cursor:pointer;
}

.nxt-article h5 {
	color:#fff;
	padding:6px 20px 0;
}

.nxt-article h5:after {
	content:"";
	background:url($header-sprite) -52px -470px no-repeat;
	width:18px;
	height:18px;
	display:inline-block;
	transform:rotate(270deg);
}

.nxt-article p {
	color:#fff;
	opacity:0;
	padding:5px 14px;
	position:relative;
	position:absolute;
	top:10%;
	bottom:10%;
	max-height:80px;
	overflow:hidden;
}

.nxt-article:hover h5 {
	opacity:0
}

.nxt-article:hover h5.txt,.nxt-article:hover p {
	opacity:1
}

.nxt-article h5.txt {
	opacity:0;
	position:relative;
	bottom:-67px;
	background:#3D3D3D;
	padding:15px 20px 22px;
	margin:0
}
